<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"

>

  <context:property-placeholder location="classpath:sport.properties" />

  <bean id="myFortune" class="xyz.wdudek.xmlconfig.RandomFortune" />

  <bean id="myCoach" class="xyz.wdudek.xmlconfig.BaseballCoach">
    <constructor-arg ref="myFortune" />
  </bean>

  <bean id="myCricketCoatch"
        class="xyz.wdudek.xmlconfig.CricketCoatch"
        init-method="postInit"
        destroy-method="preDestroy">
    <constructor-arg ref="myFortune" />
    <property name="emailAddress" value="${foo.email}" />
    <property name="team" value="${foo.team}" />
  </bean>


</beans>
